<% if @restaurants.any? %>
	<ul>
	<% @restaurants.each do |r| %>
		<li class='restaurant'><%= r.name %> (<%= r.cuisine %>)<br>
			Average rating: <span class='average_rating'>
			<%= star_rating(r.average_rating) %><br>
			</span>
			<% if current_user %>
				<%= link_to "Edit #{r.name}", edit_restaurant_path(r.id) %><br>
			<% end %>
			<% if current_user %>
				<%= link_to "Delete #{r.name}", restaurant_path(r.id), method: :delete, 'data-confirm' => "Are you sure you want to delete this?" %><br>
			<% end %>			
			<%= link_to "Review #{r.name}", new_restaurant_review_path(r.id) %><br>
			<ul class='reviews'>
				<% r.reviews.each do |review| %>
					<li><%= review.thoughts %> (<%= star_rating review.rating %>)</li>
				<% end %>
			</ul>

			<%= form_for [r, @review] do |f| %>
				<%= f.label :thoughts %>
				<%= f.text_area :thoughts %>

				<%= f.label :rating %>
				<%= f.select :rating, 1..5 %>

				<%= f.submit %>

			<% end %>
		</li>
	<% end %>
	</ul>
<% else %>
	<h1>No restaurants yet</h1>
<% end %>
<%= link_to 'Create Restaurant', new_restaurant_path, id: "", class: "" %>